/* Forgot password */
.forgot-password {
    margin-bottom: 100px;

    .left {
        width: 585px;
        max-width: 100%;
        height: 405px;
        float: left;
        margin-top: 41px;
        padding: 53px 40px 35px;
    }

    .right {
        float: right;
        width: 563px;
        max-width: 100%;
        height: 422px;
        margin-top: 20px;
        background: url("../images/base/chloe-and-pajti-big.png") no-repeat 0 0;
        background-size: contain;
    }

    p {
        font-family: $robotocond;
        color: #424556;
        line-height: 24px;
        padding-bottom: 32px;
    }

    .form-control {
        width: 385px;
        max-width: 100%;
        position: relative;
    }

    label {
        font-family: $robotocond;
        font-size: 16px;
        padding-left: 11px;
        color: #5a8099;
    }

    [type="submit"] {
        width: 125px;
        margin-top: 95px;
    }
}