/* Notification */
.notification {
    margin-bottom: 100px;

    .left {
        width: 585px;
        max-width: 100%;
        height: 405px;
        float: left;
        margin-top: 41px;
        padding: 30px 40px 35px;
    }

    .right {
        float: right;
        width: 563px;
        max-width: 100%;
        height: 435px;
        margin-top: 20px;
        background-size: contain !important;

        &.positive {
            background: url("../images/base/max-big.png") no-repeat 0 0;
        }

        &.negative {
            background: url("../images/base/hogolyo-big.png") no-repeat 0 0;
        }
    }

    span {
        color: #de362d;
    }

    p {
        padding-top: 10px;
    }

    a {
        width: 125px;
        margin-top: 75px;
    }
}