/* Register */
.register {
	margin-bottom: 97px;
    h2{
        margin-bottom: 40px;
    }
    .left {
        width: 585px;
        max-width: 100%;
        float: left;
        padding-bottom: 40px;
    }

    .right {
        float: right;
        width: 563px;
        max-width: 100%;
        background-size: contain;
    }

    .form-control {
        width: 385px;
        max-width: 100%;
        margin: 0 auto 25px;
        position: relative;
    }

    .forgot-password {
        color: #de362d;
        position: absolute;
        right: 0;
        top: -20px;
    }


    [type="submit"] {
        width: 150px;
        height: 44px;
        line-height: 44px;
        margin: 40px auto 0;
    }

    .already-registered {
        width: 385px;
        max-width: 100%;
        margin: 45px auto 0;
        font-size: 18px;
        color: #5a8099;
        text-align: center;

        a {            
            font-weight: 700;
            font-size: 18px;
            text-transform: uppercase;
            color: #5a8099;
            background-color: #faec3e;
            display: inline-block;
            line-height: 21px;
            margin-left: 5px;
        }
    }

    #avatar {
        position: absolute;
        left: -9999px;
        top: -9999px;
        z-index: -9999;
    }

    .top {
        height: 103px;
        background-color: #e1ecf2;
        margin-bottom: 165px;
        position: relative;

        label {
            width: 117px;
            height: 44px;
            border-radius: 22px;
            background-color: #e1ecf2;
            cursor: pointer;
            font-family: $opensanscond;
            text-align: center;
            font-weight: 700;
            line-height: 44px;
            letter-spacing: -0.025em;
            color: #5a8099;
            text-transform: uppercase;
            display: block;
            position: absolute;
            margin: 200px auto 0;
            left: 0;
            right: 0;
        }
    }

    .profile-icon {
        width: 170px;
        height: 170px;
        border: 10px solid #fff;
        border-radius: 50%;
        overflow: hidden;
        margin: 20px auto 0;
        position: absolute;
        left: 0;
        right: 0;

        &.stock-img {
            background: url("../images/register/stock-img.png") no-repeat center;
            background-size: 150px auto;
        }
    }
    .checkbox-1, .checkbox-2{
    	padding-left: 14px;
    }
    .checkbox-1{
    	margin-top: -10px;
    }
    .checkbox-2{
    	white-space: nowrap;
    	margin-top: -15px;
    	a{
    		font-weight: 700;
    		font-size: 18px;
    		color: #74879b;
    		text-transform: uppercase;
    		display: inline-block;
    		background-color: #faec3e;
    		line-height: 21px;
    	}
    }
}