/* Base */
.container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0.625rem;
    padding-right: 0.625rem;

    @extend .clear;
}

@media (min-width: 48em) {
    .container {
        width: 744px;
    }
}

@media (min-width: 64em) {
    .container {
        width: 960px;
    }
}

@media (min-width: 80em) {
    .container {
        width: 1200px;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
    }
}

.browserupgrade {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: #fff;
    z-index: 9999;
    padding: 50px;

    a {
        text-decoration: underline;
        color: #a52a2a;
    }
}

body {
    font-family: $opensans;
}

/* Breadcrumb */
.breadcrumb {
    height: 60px;
    position: relative;
    box-shadow: 0 0 10px 0 rgba(35, 31, 32, 0.2);

    li {
        display: inline-block;
        margin-right: 25px;

        &:last-child {
            margin-right: 0;
        }
         &:last-child a{
            &:after{
                display: none;
            }
        }
    }

    a {
        color: #5a8099;
        line-height: 60px;
        display: block;
        position: relative;

       

        &:after {
            position: absolute;
            width: 5px;
            height: 10px;
            background: url("../images/base/triangle.png") no-repeat 0 0;
            background-size: contain;
            content: " ";
            bottom: 25px;
            right: -16px;
        }

        &:hover {
            text-decoration: underline;
        }

        &.active {
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}

/* Box template */
.box-template {
    background-color: #fff;
    box-shadow: 5px 9px rgba(0, 0, 0, 0.15);
    border: solid 1px #cfd8dc;
}

/* Gallery */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

.gallery {
    display: none;
    .container {
        position: absolute;
        top: 0;
        margin: 0 auto;
        left: 0;
        right: 0;
        z-index: 3;
    }

    .close {
        position: absolute;
        width: 44px;
        height: 44px;
        border-radius: 22px;
        border: solid 2px #fff;
        top: 52px;
        right: 15px;
        display: block;
        background: url('../images/base/close.png') no-repeat center;
        background-size: 16px 16px;
    }

    .page {
        font-family: $robotocond;
        font-weight: 700;
        letter-spacing: 0.050em;
        line-height: 27px;
        color: #fff;
        font-size: 18px;
        position: absolute;
        right: 90px;
        top: 112px;
    }

    ul {
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 139px;
        z-index: 3;
        width: 1040px;
        max-width: 100%;
    }

    li {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        border: solid 4px #fff;
        width: 1040px;
        max-width: 100%;
        height: 581px;
        display: none;

        &.active {
            display: block;
        }
    }
    .nav{
        height: 581px;
        width: 1040px;
        max-width: 100%;
        top: 139px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .left, .right{
        position: absolute;
        background-size: contain !important;
        top: 50%;
        transform: translateY(-50%);
    }
    .left{
        width: 38px;
        height: 64px;
        background: url('../images/base/left.png') no-repeat 0 0;
        left: -85px;
    }
    .right{
        width: 37px;
        height: 64px;
        background: url('../images/base/right.png') no-repeat 0 0;
        right: -85px;

    }
}