/* Base */
.container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0.625rem;
    padding-right: 0.625rem;

    @extend .clear;
}

@media (min-width: 64em) {
    .container {
        width: 960px;
    }
}

@media (min-width: 80em) {
    .container {
        width: 1200px;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
    }
}

.browserupgrade {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: #fff;
    z-index: 9999;
    padding: 50px;

    a {
        text-decoration: underline;
        color: #a52a2a;
    }
}

body {
    font-family: $opensans;
}

/* Breadcrumb */
.breadcrumb {
    height: 60px;
    position: relative;
    box-shadow: 0 0 10px 0 rgba(35, 31, 32, 0.2);

    li {
        display: inline-block;
        margin-right: 25px;

        &:last-child {
            margin-right: 0;
        }

        &:last-child a {
            &:after {
                display: none;
            }
        }
    }

    a {
        color: #5a8099;
        line-height: 60px;
        display: block;
        position: relative;

        &:after {
            position: absolute;
            width: 5px;
            height: 10px;
            background: url("../images/base/triangle.png") no-repeat 0 0;
            background-size: contain;
            content: " ";
            bottom: 25px;
            right: -16px;
        }

        &:hover {
            text-decoration: underline;
        }

        &.active {
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}

/* Box template */
.box-template {
    background-color: #fff;
    box-shadow: 5px 9px rgba(0, 0, 0, 0.15);
    border: solid 1px #cfd8dc;
}

/* Cards */
.cards {
    margin: 38px -15px 30px;

    .card {
        width: 370px;
        max-width: 100%;
        min-height: 400px;
        margin: 0 15px 40px;
        float: left;
        padding: 30px 21px 40px 19px;
        position: relative;
    }

    h5 {
        font-size: 32px;
        margin-bottom: 25px;
    }

    .card-image {
        height: 213px;
        border-radius: 10px;
        background-color: black;
        margin-bottom: 19px;
        overflow: hidden;
    }

    .number {
        width: 45px;
        height: 45px;
        line-height: 45px;
        border-radius: 50%;
        color: #fff;
        font-size: 24px;
        text-align: center;
        position: absolute;
        top: 22px;
        right: 21px;

        &.red {
            background-color: #de362d;
        }

        &.grey {
            background-color: #74879b;
        }

        &.inactive {
            background-color: #faec3e;
            color: #5a8099;
        }
    }
}

.card-2 {
    margin: 40px -15px 60px;

    a {
        display: block;
        width: 270px;
        height: 430px;
        position: relative;
    }

    li {
        margin: 0 15px 39px;
        float: left;
    }

    .top {
        height: 112px;
        background-color: #e1ecf2;
        position: relative;
    }

    .profile-image {
        width: 170px;
        height: 170px;
        border: 10px solid #fff;
        border-radius: 50%;
        overflow: hidden;
        margin: 20px auto 0;
        position: absolute;
        left: 0;
        right: 0;

        &.stock-image {
            background: url("../images/register/stock-img.png") no-repeat center;
            background-size: 150px auto;
        }
    }

    .name {
        text-align: center;
        font-family: $oswald;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 24px;
        color: #424556;
        margin-top: 90px;
    }

    .city {
        text-align: center;
        font-size: 18px;
        padding-top: 5px;
        color: #5a8099;
    }
}

/* No boxes */
.no {
    .left {
        width: 770px;
        max-width: 100%;
        padding: 39px 38px 26px;
        float: left;
        margin: 57px 0 100px;

        a {
            margin-top: 124px;
            width: 230px;
            height: 44px;
            line-height: 44px;
        }
    }

    .right {
        width: calc(100% - 770px);
        height: 494px;
        max-width: 100%;
        float: left;
        background: url("../images/base/cards-big.png") no-repeat center right;
        background-size: 541px auto;
        margin-top: -25px;
    }

    h1 {
        padding-bottom: 15px;
    }
}

/* Search box */

.search-box {
    width: 252px;
    height: 44px;

    button {
        width: 44px;
        height: 44px;
        background: #de362d url("../images/base/search-icon.png") no-repeat center;
        background-size: 22px 22px;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    input {
        height: 44px;
        width: 100%;
        background-color: #fff;
        border: solid 2px #5a8099;
        border-radius: 0;
        font-family: $robotocond;
        color: #78909c;
        padding: 0 55px 0 20px;
        font-weight: 400;
    }
}

/* Overlay */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgba(90, 128, 153, 0.8);
    display: none;
}

/* Popup */
.popup {
    width: 570px;
    height: 369px;
    max-width: 100%;
    position: absolute;
    top: 119px;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 3;
    padding: 50px 70px 55px 90px;
    display: none;

    h5 {
        font-family: $robotocond;
        text-transform: uppercase;
        display: inline-block;
        background-color: #faec3e;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: -0.050em;
        padding-top: 0;
        margin-bottom: 20px;
    }

    a {
        display: inline-block;
        margin-top: 50px;
        width: 165px;
        height: 44px;
        line-height: 44px;
    }

    p {
        font-family: $robotocond;
        line-height: 22px;
        color: #424556;
    }
}

/*
.gallery {
    display: none;
    .container {
        position: absolute;
        top: 0;
        margin: 0 auto;
        left: 0;
        right: 0;
        z-index: 3;
    }

    .close {
        position: absolute;
        width: 44px;
        height: 44px;
        border-radius: 22px;
        border: solid 2px #fff;
        top: 52px;
        right: 15px;
        display: block;
        background: url('../images/base/close.png') no-repeat center;
        background-size: 16px 16px;
    }

    .page {
        font-family: $robotocond;
        font-weight: 700;
        letter-spacing: 0.050em;
        line-height: 27px;
        color: #fff;
        font-size: 18px;
        position: absolute;
        right: 90px;
        top: 112px;
    }

    ul {
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 139px;
        z-index: 3;
        width: 1040px;
        max-width: 100%;
    }

    li {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        border: solid 4px #fff;
        width: 1040px;
        max-width: 100%;
        height: 581px;
        display: none;

        &.active {
            display: block;
        }
    }
    .nav{
        height: 581px;
        width: 1040px;
        max-width: 100%;
        top: 139px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .left, .right{
        position: absolute;
        background-size: contain !important;
        top: 50%;
        transform: translateY(-50%);
    }
    .left{
        width: 38px;
        height: 64px;
        background: url('../images/base/left.png') no-repeat 0 0;
        left: -85px;
    }
    .right{
        width: 37px;
        height: 64px;
        background: url('../images/base/right.png') no-repeat 0 0;
        right: -85px;

    }
}*/