/* Typography */
h1{
	font-family: $oswald;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 48px;
	line-height: 60px;
	color: #de362d;
}
p{
	font-size: 18px;
	color: #595959;
	line-height: 27px;
	&.bold{
		font-weight: 800;
	}
}